<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FACEBOOK Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.facebook.ExtentReporterNG.ExtentReporterNG" />
	</listeners>

	<test name="FACEBOOK Test Cases">
		<classes>
			<class name="com.facebook.TestCases.LoginPageTest"></class>
		</classes>
	</test>
</suite>